{% extends "layouts/application.html"%}

{% block custom_css %}
{% endblock %}

{% block title%}
产品详情
{% endblock %}

{% block content %}

{% if product: %}

<h4>产品详情</h4>
<table class="table hover stack">
    <thead>
        <tr>
            <td width="150">产品名</td>
            <td>描述</td>
            <td width="80">状态</td>
       </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.statusStr(product.status) }}</td>
     </tr>
    </tbody>
</table>

{% block sell_records %}
{% if product.sell_records %}
<h4>销售列表</h4>
<table class="table hover stack">
    <thead>
        <tr>
          <td>产品名</td>
          <td>客户名</td>
          <td>价格</td>
          <td>串行码</td>
          <td>时间</td>
       </tr>
    </thead>
    <tbody>
      {% for record in product.sell_records %}
      <tr>
        <td>{{product.name}}</td>
        <td>{{record.customer.name}}</td>
        <td>{{record.price}}</td>
        <td>{{record.serial}}</td>
        <td>{{record.date}}</td>
     </tr>
     {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block machines %}
{% if product.machines %}
<h4>设备列表</h4>
<table class="table hover stack">
    <thead>
        <tr>
            <td width="">编号</td>
            <td width="200">设备型号</td>
            <td width="80">状态</td>
            <td width="60"></td>
       </tr>
    </thead>
    <tbody>
    {% for machine in product.machines %}
        <tr>
            <td><a href="{{url_for('main.machine_show', id=machine.id)}}">{{ machine.id }}</a></td>
            <td><a href="{{url_for('main.product_show', id=machine.product_id)}}">{{ machine.product.name }}</a></td>
            <td>{{ machine.license }}</td>
            <td>
            <a href="{{url_for('main.machine_remove',id=machine.id)}}" rel="nofollow">删除</a>
            </td>
       </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% endif %}

{% endblock %}
