<div class="top-bar" data-topbar>
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                <a class="menu-logo-text"  href="{{url_for('main.index')}}">高宜产品管理系统 V0.1</a>
            </li>
            <li><a href="#">客户</a>
              <ul class="menu vertical">
                  <li><a class="" id="nav_company" href="/company/">公司</a></li>
                  <li><a class="" id="nav_customer" href="/customer/">联系人</a></li>
              </ul>
            </li>

            <li><a class="" id="nav_product" href="/product/">产品</a>
                <ul class="menu vertical">
                    <li><a class="" id="nav_product" href="/product/">产品列表</a></li>
                    <li><a class="" id="nav_machines" href="/machine/">设备列表</a></li>
                    <li><a class="" id="nav_sell_record" href="/sell_record/">销售记录</a></li>
                    <li><a class="" href="/todo/">服务记录</a></li>
                    <li><a class="" id="nav_xxx" href="/todo/">客户访问记录</a></li>
                </ul>
            </li>

            <li><a class="" id="nav_record" href="#">跟踪</a>
                <ul class="menu vertical">
                <li><a class="" href="/todo/">Issues</a></li>
                <li><a class="" id="nav_todo" href="/todo/">待办</a></li>
                <li><a class="" id="nav_schedule" href="/schedule/">日程</a></li>
                </ul>
            </li>

            <li><a class="" id="nav_record" href="#">工具</a>
                <ul class="menu vertical">
                    <li><a class="" href="#">周报管理</a></li>

                </ul>
            </li>
         </ul>

    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><input type="search" placeholder="Search"></li>

            <li class="has-dropdown">
              {% if current_user.is_authenticated %}
                  <a href="#"> 欢迎 {{current_user.username}} </a>
              {% else %}
                  <a href="#"> 我的账户 </a>
              {% endif %}
              <ul class="menu vertical">
                    {% if current_user.is_authenticated  %}
                     <li><a href="#">个人资料</a></li>
                      <li><a href="{{url_for('main.logout')}}">注销</a></li>
                    {% else %}
                      <li><a href="{{url_for('main.login')}}">登录</a></li>
                      <li><a href="{{url_for('main.login')}}">注册</a></li>
                    {% endif %}
              </ul>
            </li>
        </ul>
     </div>

</div>
