<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/foundation.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}">

      <script src="{{ url_for('static', filename = 'js/vendor/modernizr.js') }}"></script>

      <script src="{{ url_for('static', filename = 'js/vendor/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename = 'js/vendor/jquery-ui.min.js') }}"></script>

      <script src="{{ url_for('static', filename = 'js/foundation.min.js') }}"></script>
      <script src="{{ url_for('static', filename = 'js/jquery.cxcalendar.min.js') }}"></script>
      <script src="{{ url_for('static', filename = 'js/jquery.cxcalendar.languages.js') }}"></script>
      <script src="{{ url_for('static', filename = 'js/custom_ux.js') }}"></script>

      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery.cxcalendar.css') }}">

      <!-- This is how you would link your custom stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/scaffolds.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/foundation_and_overrides.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/user.css') }}">


      {% block custom_css %}
      {% endblock %}


    <script type="text/javascript">
    function addCss(filename){
      var head = document.head;
      var link = document.createElement("link");
      link.type = "text/css";
      link.rel = "stylesheet";
      link.href = filename;
      head.appendChild(link);
    }
    </script>

    <title> {% block title%} {%endblock%} </title>
  </head>

  <body>

    <div class="container">
      <header>
      {% include 'layouts/_header.html' %}
      </header>

      <section class="content-wrapper">
        <div class="content">
            <div class="row">
              <!--<div class="medium-2 columns sidebar_left">
                  {% include 'layouts/_sidebar.html'%}
              </div>
              <div class="medium-10 columns main_content">
              -->
              <div class="columns main_content">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="">
                        <div class="flash callout {{ category }}">
                            {{ message }}
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  {% endwith %}

              	{% block content %}
              	{% endblock %}
              </div>
            </div>
        </div>
      </section>
    </div>

    {% include 'layouts/_footer.html' %}
  </body>
</html>

  <script>
    $(document).foundation();
  </script>
