{% extends "layouts/application.html"%}

{% block custom_css %}
{% endblock %}

{% block title%}
销售记录详情
{% endblock %}

{% block content %}

{% if company: %}

<h3>公司简介</h3>
<table class="table hover stack">
    <thead>
        <tr>
            <td width="220">公司名称</td>
            <td width="300">地址</td>
            <td>简介</td>
            <td width="100"></td>
       </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.business }}</td>
        <td>
        <a href="{{url_for('main.company_remove',id=company.id)}}" rel="nofollow">删除</a>
        </td>
     </tr>
    </tbody>
</table>

{% endif %}

{% endblock %}
