[Unit]
Description=gunicorn flask app
After=network.target

[Service]
PIDFile=/run/gunicorn/flask-pid
User=root
Group=root
RuntimeDirectory=/usr/share/webapps/flask
Environment="PATH=/usr/share/webapps/flask/crm/bin"
WorkingDirectory=/usr/share/webapps/flask
ExecStart=/usr/share/webapps/flask/crm/bin/gunicorn  \
          --bind unix:flask-pid.sock \
          -w 3 wsgi:app -b 127.0.0.1:5001
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
