{% extends "layouts/application.html"%}

{% block custom_css %}
{% endblock %}

{% block title%}
联系人列表
{% endblock %}

{% block content %}
<script type="text/javascript">
addCss("{{ url_for('static', filename = 'css/customer.css') }}");
</script>


<div class="button-group">
  <a class="button small" data-toggle="cd-new-form">新建联系人资料</a>
</div>
<div id="cd-new-form" class="reveal" title="新建联系人资料" data-reveal data-overlay="false" data-close-on-click="false">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    {% include 'customer/new_form.html' %}
</div>

<table class="table hover stack">
    <thead>
        <tr>
            <td>姓名</td>
            <td>地址</td>
            <td>email</td>
            <td>电话</td>
            <td>QQ</td>
            <td>公司</td>
            <td>职位</td>
            <td width="300px">备注</td>
            <td></td>
       </tr>
    </thead>
    <tbody>
    {% for t in customers %}
        <tr>
            <td><a href="{{url_for('main.customer_show', id=t.id)}}">{{ t.name }}</a></td>
            <td>{{ t.address or t.my_company.address }}</td>
            <td>{{ t.email }}</td>
            <td>{{ t.mobile or t.tel }}</td>
            <td>{{ t.qq }}</td>
            <td><a href="{{url_for('main.company_show', id=t.my_company.id)}}">{{ t.my_company.name }}</a></td>
            <td>{{ t.position }}</td>
            <td>{{ t.note }}</td>
            <td>
            <a href="{{url_for('main.customer_remove',id=t.id)}}" rel="nofollow">删除</a>
            </td>
       </tr>
    {% endfor %}
    </tbody>
</table>

<p>计数: {{ customers_count }}</p>
{% endblock %}
