.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.top-bar input {
    max-width: 200px;
    margin-right: 1rem;
    height: 1rem;
}

.menu .menu-text {
    padding: 0px;
}

.dialog-frame{
    padding-left: 30%;
    padding-right: 30%;
}

.form-title{
    padding: 10px 0px 10px 0px;
}

.cxcalendar .settime .time{
    display: inline-flex;
}

select,
[type="checkbox"]{
    margin: 0 0 1rem;
}
