.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.top-bar input {
    max-width: 200px;
    margin-right: 1rem;
    height: 1rem;
}

.menu .menu-text {
    padding: 0px;
}

.dialog-frame{
    padding-left: 30%;
    padding-right: 30%;
}

.form-title{
    padding: 0px 0px 30px 0px;
}

.cxcalendar .settime .time{
    display: inline-flex;
}

/*
select,
[type="checkbox"],
textarea{
    margin: 0 0 1rem;
}
*/
textarea{
    min-height: 8rem;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="checkbox"],
select,
textarea
{
    margin: 0 0 1px;
}

[type="checkbox"]{
    margin: 0 0 0px;
    margin-top: 5px;
}
.submit-button-group{
    margin-top: 10px;
    margin-left: 10px;
}

.submit-button-group .button{
    margin-right: 5px;
}

.td_title{
    background: #EEE;
    width: 8%;
    max-width: 120px;
    text-align: center;
    font-weight:bold;
    border:1px solid #ddd;
}

.td_content{
    width: 12%;
    border:1px solid #ddd;
}

.td_content_false{
    color: red;
}

.reveal-large{
    width: 600px;
}

.form_2cols .cell{
    padding-left : 8px;
    padding-right: 8px;
}
